body{
    background-image:url("../Images/loginWallpaper.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

.row{
    margin-left:400px;
    margin-top:100px;
}

.label{
    font-size:10px;
    
}

.col-md-4 {
    border: 5px solid red;
    background: black;
    opacity: 0.9;
    text-align: center;
    color: white;
    font-weight:bolder;
}