@model StoriesViewModel
<link href="~/css/StoryTale.css" rel="stylesheet" />

<form method="get">
    <input style="margin-top:30px;font-size:20px" type="submit" asp-action="MainMenu" asp-controller="Home" value="Back" />
</form>

<div class="page">
    @foreach (var item in Model.Stories)
    {
        <p>@item.Name</p>
    }

</div>
