<link href="~/css/loginpage.css" rel="stylesheet" />


<form method="get">
    <div class="LoginMenu">

        <input type="submit" asp-area="Identity" asp-page="/Account/Register" value="Register" /><br />
        <input type="submit" asp-area="Identity" asp-page="/Account/Login" value="Login" />

    </div>

</form>