@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model NewPlayerViewModel
<link href="~/css/MainMenu.css" rel="stylesheet" />

@{
    var imgText = "";

}

@switch (@Model.ClassName)
{
    case "Paladin": imgText = "paladin.jpg"; break;
    case "Druid": imgText = "druid.jpg"; break;
    case "Wizard": imgText = "wizard.jpg"; break;
    case "Viking": imgText = "viking.jpg"; break;
    default:
        break;
}

<ul class="cards">

    <li>
        <a asp-controller="Options" asp-action="PlayerStats" class="card" style="height:300px">

            <img src="~/Images/Menu/playerstats.jpg" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <h1 class="card__title" style="font-size:20px"> PLAYER STATS</h1>
                </div>
                <p class="card__description"></p>
            </div>
        </a>
    </li>


    <li>
        <a asp-controller="Options" asp-action="GenerateArena" class="card" style="height:300px;">
            <img src="~/Images/Menu/arena.jpg" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <h3 class="card__title" style="font-size:20px">ARENA</h3>
                </div>
                <p class="card__description"></p>
            </div>
        </a>
    </li>

    <li>
        <a asp-controller="Options" asp-action="HeroStatistic" class="card" style="height:300px;">
            <img src="~/Images/Heroes/@imgText" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <div class="card__header-text">
                        <h3 class="card__title" style="font-size:20px">HERO STATISTICS</h3>
                    </div>
                </div>
                <p class="card__description"></p>
            </div>
        </a>
    </li>  

    <li>
        <a asp-action="Shop" asp-controller="Options" class="card">
            <img src="~/Images/Menu/shop.jpg" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <div class="card__header-text">
                        <h3 class="card__title" style="font-size:20px">SHOP</h3>
                    </div>
                </div>
                <p class="card__description" style="font-size:20px;margin-left:50px;color:red">Coins: @Model.Coins</p>
            </div>
        </a>
    </li>

    <li>
        <a asp-action="HeroRecords" asp-controller="Options" class="card" style="background-color:black">
            <img src="~/Images/Menu/herorecords.jpg" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header" style="background-color:black">
                    <div class="card__header-text">
                        <h3 class="card__title"style="font-size:25px">Champions List</h3>
                    </div>
                </div>
                <p class="card__description"></p>
            </div>
        </a>
    </li>    

    <li style="margin-left:140px;width:100%">
        <a asp-action="AccountPage" asp-controller="Home" class="card" style="background-color:black;margin-left:-130px">
            <img src="~/Images/Menu/exit.jpg" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header" style="background-color:black">
                    <div class="card__header-text">
                        <h3 class="card__title" style="color:red;font-size:26px;margin-left:80px">Account</h3>
                    </div>
                </div>
                <p class="card__description"></p>
            </div>
        </a>
    </li>        

</ul>

